/* ¹¤¾ßÀ¸°´Å¥ */
.toolbar>.input-toolbar {
	margin-left: 0.25rem;
}
.toolbar>.iconBtn-toolbar,.toolbar>.select-toolbar {
	margin-left: 0.57rem;
}
.toolbar>.split-toolbar {
	display: inline-block;
	vertical-align: top;
	margin-left: 0.57rem;
}