@charset "utf-8";
/* 外框架 */
body {
	height: 100%;
}
.wapper {
	position: absolute;
	width: 100%;
	height: 10.80rem;
	overflow: hidden;
}
/* LOGO */
.logo-frame {
	position: relative;
	margin-top: 1.25rem;
	width: 100%;
	height: 4.55rem;
	z-index: 2;
}
.logo-frame img {
	position: relative;
	margin: 0 auto;
	height: 100%;
	display: block;
}
/* 旋转部分 , 阴影部分 */
.logo-frame>img:nth-of-type(2),.logo-frame>img:nth-of-type(3) {
	position: absolute;
	left: 50%;
	top: 0.49rem;
	margin-left: -1.77rem;
	height: 3.54rem;
	display: block;
}
.logo-frame .logo-face {
	position: relative;
	margin: -3.62rem auto 0;
	width: 4.55rem;
	height: 2.66rem;
}
.logo-face>img {
    transform: rotate3d(0,1,0,1deg);
}

.hidden {
	visibility: hidden;
}
/* 分界线 */
.login_line {
	position: absolute;
	left: 0;
	top: 4.08rem;
	width: 100%;
	height: 0.09rem;
	z-index: 1;
}
.login_line img:nth-of-type(1) {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.login_line img:nth-of-type(2) {
	position: absolute;
	left: -100%;
	top: 0;
	width: 100%;
	height: 100%;
}
/* 内容区域 */
.login_login {
	position: absolute;
	left: 0;
	top: 4.17rem;
	width: 100%;
	height: 6.63rem;
	text-align: center;
	background: rgba(237,237,237,.7);
	z-index: 1;
}
/* 登录表单 */
.login_info {
	position: relative;
	margin-top: 2.16rem;
}

/* 登录页面控件 */
/* 输入框 */
.zl-input-text {
	width: 3.72rem;
	height: 0.58rem;
	background: #fff;
	border: solid 1px #666;
	border-radius: .5em;
	font-size: 0.19rem;
	line-height: 0.19rem;
	text-indent: 1em;
	color: #666;
}
/* 选择框 */
.zl-checkbox {
	width: 3.72rem;
	height: 0.23rem;
	cursor: pointer;
	display: inline-block;
}
.zl-checkbox>.zl-checkbox-select {
	position: relative;
	float: left;
	width: 0.23rem;
	height: 0.23rem;
	background: #fff;
	border-radius: .5em;
	font-size: 50%;
	line-height: 100%;
	text-align: center;
	color: #666;
}
.zl-checkbox>.zl-checkbox-select>.zl-checkbox-get {
	position: absolute;
	left: 25%;
	top: 25%;
	width: 50%;
	height: 50%;
	background: #666;
	border-radius: 50%;
	visibility: hidden;
}
.zl-checkbox>.checked>.zl-checkbox-get {
	visibility: visible;
}
.hidden .zl-checkbox>.checked>.zl-checkbox-get {
	visibility: hidden;
}
.zl-checkbox>.zl-checkbox-content {
	float: left;
	margin-left: .5em;
	font-size: 0.17rem;
	line-height: 0.17rem;
	color: #666;
	white-space: nowrap;
}
.zl-checkbox-clear {
	clear: left;
}
/* 按钮 */
.zl-button {
	display: inline-block;
	padding: 0;
	width: 1.75rem;
	height: 0.58rem;
	border: solid 1px #666;
	border-radius: .6em;
	font-size: 0.16rem;
	line-height: 0.58rem;
	text-align: center;
	color: #666;
	background-color: #fff;
	cursor: pointer;
	background:-webkit-gradient(linear, 10% 10%, 10% 90%, from(#ffffff), to(#f9f9f9));
	background:-moz-linear-gradient(top, #ffffff, #f9f9f9); 
}
.zl-button:active {
	background:-webkit-gradient(linear, 10% 10%, 10% 90%, from(#f3f3f3), to(#ffffff));
	background:-moz-linear-gradient(top, #f3f3f3, #ffffff); 
}

.zl-input-text {
	margin-bottom: 0.16rem;
}

.zl-checkbox {
	height: 0.44rem;
	line-height: 0.44rem;
}