body{ margin:0; padding:0}

.top{ height:27px; background:url(../images/pic_02.png) repeat-x; font-size:12px; color:#FFF; padding-right:20px;}
.top table{ height:27px; line-height:27px; text-align:right}
.top a{ color:#FFF}
.logo{ background:url(../images/pic_06.png) repeat-x; height:86px;}
.news{ height:24px; background:url(../images/pic_10.png) repeat-x; line-height:24px; text-align:left; font-size:12px; color:#FFF; text-indent:10px;}
.ipt{ width:108px; margin:0; padding:0; border:1px solid #999}


h1{ width:60px; height:25px; font-size:14px; display:block; margin:0; padding:0; line-height:26px; text-align:center; color:#000; font-weight:normal;}
h1 a{ text-decoration:none; color:#FFF;}
h2{ width:39px; height:17px; background:url(../images/bot1.png) no-repeat; font-size:12px;margin:0; padding:0; line-height:18px; font-weight:normal;color:#000; text-indent:inherit}
h2 a{ text-decoration:none; color:#000;}
h6{ height:23px; margin:0; padding:0; background:url(../images/pic_23.png) repeat-x; border-bottom:1px solid #a4d3ff; font-size:12px; line-height:23px; font-weight:normal; text-indent:15px; font-weight:bold;}
h4{ height:23px; margin:0; padding:0; background:url(../images/pic_23.png) repeat-x; border-bottom:1px solid #a4d3ff; font-size:12px; line-height:23px; font-weight:normal;font-weight:bold; text-align:center}
h5{ margin:0; padding:0; height:25px; width:60px; background:url(../images/pic_28.jpg); float:left; clear:both; margin-top:10px; line-height:25px; color:#FFF}
h5 a{ text-decoration:none; color:#fff;}

.srh{ width:260px; overflow:hidden; float:left; margin-top:15px; margin-left:15px;}
.srh ul{ margin:0; padding:0;}
.srh li{ margin:0; padding:0; float:left; display:block; list-style:none; font-size:12px; margin-bottom:10px; text-align:right;}
.srh input{ width:100px; border:1px solid #ccc; margin:0; padding:0; height:18px;}
.srh select{width:100px;margin:0; padding:0; height:18px;}
.srh h1{ width:60px; height:25px; background:url(../images/pic_28.jpg) no-repeat; font-size:14px; display:block; margin:0; padding:0; line-height:26px; text-align:center; color:#FFF; font-weight:normal; clear:both; margin-top:10px; float:left}

.fye{ width:830px; height:30px; float:left; margin-top:10px; line-height:30px; text-align:right}
.fye a{ text-decoration:none; color:#000}
.submian{ height:22px; background:url(../images/dd_03.png) repeat-x; border-bottom:1px solid #ddd;}

.hide{display:none}