html {
	font-size: 100px;
}

body {
	overflow: hidden;
	font-size: 0.16rem;
}

/* frame */
.zl-wrapper {
	position: relative;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	min-width: 1280px;
	min-height: 720px;
	background-color: #ddd;
	overflow-x: hidden;
	overflow-y: auto;
}
/* 顶部栏 */
.zl-top {
	position: relative;
	width: 100%;
	height: 1.24rem;
	background-color: #fff;
	z-index: 1;
}
/* 顶部栏底条 */
.zl-top-line {
	position: absolute;
	left:0;
	top: 1.15rem;
	width: 100%;
	height: 0.05rem;
}
/* 顶部栏内容部分 */
.zl-top-frame {
	position: relative;
	margin: 0 auto;
	width: 19.20rem;
	height: 100%;
}
.zl-top-logo {
	position: absolute;
	left: 0;
	top: 0;
	width: 4.80rem;
	height: 1.15rem;
}
.zl-top-logo-img {
	position: absolute;
	left: 0.68rem;
	top: 0.34rem;
	height: 0.48rem;
}
.zl-top-logo-img>img {
	height: 100%;
}
.zl-top-content {
	position: absolute;
	left: 4.80rem;
	top: 0;
	width: 9.60rem;
	height: 1.15rem;
}
.zl-top-user {
	position: absolute;
	left: 14.40rem;
	top: 0;
	width: 4.80rem;
	height: 1.15rem;
}

/* 中间内容区域 */
.zl-content {
	position: relative;
	margin: 0 auto;
	width: 19.20rem;
	height: 8.80rem;
	overflow: hidden;
	z-index: 1;
}
/* 底部菜单区域 */
.zl-bottom {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 0.76rem;
	background: #FFF;
	z-index: 10;
}

/* 用户登出区域 */
.zl-top-user-btn {
	position: relative;
	float: right;
	margin-left: 0.10rem;
	margin-right: 0.50rem;
	margin-top: 0.36rem;
	width: 1.20rem;
	height: 0.47rem;
}
.zl-top-user-btn>img {
	position: absolute;
	left: 0;
	top: 0;
	width: 1.20rem;
	height: 0.47rem;
}
.zl-top-user-btn-text {
	position: absolute;
	left: 0;
	top: 0;
	width: 1.20rem;
	height: 0.47rem;
	text-align: center;
	font-size: 0.18rem;
	font-weight: bold;
	line-height: 0.47rem;
	color: #5B5B5B;
	cursor: pointer;
}

.zl-top-user-frame {
	position: relative;
	float: right;
	width: auto !important;
	height: 1.15rem;
	overflow: hidden;
}

.zl-top-user-frame>span {
	float: right;
	margin-top: 0.50rem;
	margin-right: 0.10rem;
	font-size: 0.20rem;
	line-height: 0.20rem;
	white-space: nowrap;
	color: #5A5A5A;
}

.zl-top-user-frame>span:last-of-type {
	margin-left: 0.10rem;
}
.zl-top-user-icon {
	display: block;
	position: relative;
	float: right;
	margin-top: 0.50rem;
	width: 0.17rem;
	height: 0.20rem;
}

/* 国际化切换区域 */
.zl-top-translate {
	position: absolute;
	right: 1.90rem;
	top: 0.70rem;
	width: 2.90rem;
	height: 0.45rem;
	text-align: right;
	font-size: 0.16rem
}
.zl-top-translate>a {
	font-size: 0.14rem;
	line-height: 0.45rem;
	text-decoration: none;
	color: #5A5A5A;
}
.zl-top-translate>a:hover,.zl-top-translate>a.active {
	font-weight: bold;
	text-decoration: none;
	color: #008080;
}