body {
	overflow: hidden;
}

/* frame */
.zl-wrapper {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1920px;
	height: 1080px;
	overflow: hidden;
}
/* 顶部栏 */
.zl-top {
	position: absolute;
	left: 0;
	top: 0;
	width: 1920px;
	height: 124px;
	z-index: 1;
}
/* 顶部栏底条 */
.zl-top-line {
	position: absolute;
	left:0;
	top: 115px;
	width: 1920px;
	height: 5px;
}
.zl-top-logo {
	position: absolute;
	left: 0;
	top: 0;
	width: 480px;
	height: 115px;
}
.zl-top-logo-img {
	position: absolute;
	left: 68px;
	top: 34px;
	height: 48px;
}
.zl-top-logo-img>img {
	height: 100%;
}
.zl-top-content {
	position: absolute;
	left: 480px;
	top: 0;
	width: 960px;
	height: 115px;
}
.zl-top-user {
	position: absolute;
	left: 1440px;
	top: 0;
	width: 480px;
	height: 115px;
}

.zl-content {
	position: absolute;
	left: 0;
	top: 124px;
	width: 1920px;
	height: 880px;
	z-index: 1;
}
.zl-bottom {
	position: absolute;
	left: 0;
	top: 1004px;
	width: 1920px;
	height: 76px;
	background: #FFF;
	z-index: 10;
}

/* 国际化弹出框 */
.top-right-frame {
	position: absolute;
	top: 0; 
	left: 1920px;
	width: 200px;
	height: 50px;
	text-align: center;
	background-color: rgba(0,0,0,.2);
	z-index: 20;
}
.top-right-frame .more-btn {
	position: absolute;
	top: 0;
	left: -50px;
	width: 50px;
	height: 50px;
	text-align: center;
	font-size: 25px;
	line-height: 50px;
	color: #333;
	background-color: rgba(0,0,0,.3);
	cursor: pointer;
}
.top-right-frame>select {
	margin-top: 10px;
	width: 150px;
	height: 30px;
	font-size: 20px;
	line-height: 30px;
	text-align: left;
	text-indent: .5em;
}

/* 用户登出区域 */
.zl-top-user-btn {
	position: relative;
	float: right;
	margin-left: 10px;
	margin-right: 50px;
	margin-top: 36px;
	width: 120px;
	height: 47px;
}
.zl-top-user-btn>img {
	position: absolute;
	left: 0;
	top: 0;
	width: 120px;
	height: 47px;
}
.zl-top-user-btn-text {
	position: absolute;
	left: 0;
	top: 0;
	width: 120px;
	height: 47px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	line-height: 47px;
	color: #5B5B5B;
	cursor: pointer;
}

.zl-top-user-frame {
	position: relative;
	float: right;
	width: auto !important;
	height: 115px;
	overflow: hidden;
}

.zl-top-user-frame>span {
	float: right;
	margin-top: 50px;
	margin-right: 10px;
	font-size: 20px;
	line-height: 20px;
	white-space: nowrap;
	color: #5A5A5A;
}

.zl-top-user-frame>span:last-of-type {
	margin-left: 10px;
}
.zl-top-user-icon {
	display: block;
	position: relative;
	float: right;
	margin-top: 50px;
	width: 17px;
	height: 20px;
}

/* 国际化切换区域 */
.zl-top-translate {
	position: absolute;
	right: 190px;
	top: 70px;
	width: 290px;
	height: 45px;
	text-align: right;
}
.zl-top-translate>a {
	font-size: 14px;
	line-height: 45px;
	text-decoration: none;
	color: #5A5A5A;
}
.zl-top-translate>a:hover,.zl-top-translate>a.active {
	font-size: 14px;
	text-weight: bold;
	line-height: 45px;
	text-decoration: none;
	color: #008080;
}