/* 文字位置及 */
.zl-content-label {
	float: left;
	margin-left: 50px;
	margin-top: 40px;
	width: 75px;
	font-size: 18px;
	line-height: 18px;
	color: #828282;
	white-space: nowrap;
	text-align: right;
}

/* 文本框位置 */
.zl-content-select {
	float: left;
	margin-left: 55px;
	margin-top: 32px;
}
/* 下拉框位置 */
.zl-select-lt{
	float: left;
	margin-left: 55px;
	margin-top: 32px;
}

.content-info-tubiao{
	width: 1920px;
	height: 536px;
	left: 0px;
	top: 42px;
	position: absolute;
}
.content-info-bottom{
	height: 42px;
	width: 1920px;
	left: 0px;
	top: 578px;
	position:absolute;
	background-color: #E4EAE6;
	font-size: 16px;
	line-height: 42px;
	padding-left: 30px;
	vertical-align: middle;
	color: #7A7A7A;
}
.content-info-serialNo{
	height: 100px;
	width: 1920px;
	left: 0px;
	top: 620px;
	position: absolute;
}
.content-info-tbwh{
	height: 500px;
	width: 1460px;
	position: absolute;
	top: 20px;
	left: 230px;
}
.select-list
{	position:absolute;
	white-space: nowrap;
	overflow: auto;
	font-size: 20px;
	top:0px;
	left:0px;
	width: 1920px;
	height: 100px;
	line-height:50px;
	width: 1920px;
	color: #7A7A7A;
}
.select-list td
{
	width: 192px;
	height: 50%;
	text-align: center;
	overflow: hidden;
}
