.zl-content-label {
	float: left;
	margin-left: 140px;
	margin-top: 70px;
	width: 75px;
	font-size: 18px;
	line-height: 18px;
	color: #828282;
	white-space: nowrap;
	text-align: right;
}
.zl-content-select {
	float: left;
	margin-left: 30px;
	margin-top: 62px;
}

.content-info-top{
	height: 42px;
	width: 1920px;
	left: 0px;
	top: 0px;
	position:absolute;
	background-color: #E4EAE6;
}
.content-info-tubiao{
	width: 1920px;
	height: 536px;
	left: 0px;
	top: 42px;
	position: absolute;
}
.content-info-bottom{
	height: 42px;
	width: 1920px;
	left: 0px;
	top: 578px;
	position:absolute;
	background-color: #E4EAE6;
	font-size: 16px;
	line-height: 42px;
	padding-left: 30px;
	vertical-align: middle;
	color: #7A7A7A;
}
.content-info-serialNo{
	height: 100px;
	width: 1920px;
	left: 0px;
	top: 620px;
	position: absolute;
}
.content-info-tbwh{
	height: 500px;
	width: 1460px;
	position: absolute;
	top: 20px;
	left: 230px;
}
.select-list
{	position:absolute;
	white-space: nowrap;
	overflow: auto;
	font-size: 20px;
	top:0px;
	left:0px;
	width: 1920px;
	height: 100px;
	line-height:50px;
	color: #7A7A7A;
}
.select-list td
{
	width: 192px;
	height: 50%;
	text-align: center;
	overflow: hidden;
}
.zl-content-btn{
	left:150px;
	top: 60px;
}
