@charset "utf-8";
body {
	margin: 0;
	font-family: "微软雅黑";
}

a {
	font-family: "微软雅黑";
}
/* 标题栏 */
.title-bar {
	position: relative;
	width: 1920px;
	height: 362px;
}

/* logo */
.logo-img {
	position: absolute;
	left: 102px;
	top: 74px;
	width: 300px;
	height: 229px;
	cursor: pointer;
}

.logo-img img {
	height: 100%;
}

/* 标题 */
.title-text {
	position: absolute;
	left: 568px;
	top: 157px;
	line-height: 52px;
	font-size: 52px;
	font-weight: bold;
	color: #595959;
}

/* 筛选栏 */
.filter-frame {
	position: absolute;
	left: 968px;
	top: 24px;
}

.filter-bar {
	position: relative;
	width: 484px;
	height: 42px;
	margin-top: 100px;
}

/* 筛选标题 */
.filter-label {
	float: left;
	line-height: 42px;
	font-size: 38px;
	color: #595959;
}

/* 筛选输入 */
.filter-input {
	width: 246px;
	height: 42px;
	float: right;
	font-size: 20px;
	color: #333333;
}

.filter-input input[type='text'] {
	width: 100%;
	height: 100%;
	text-indent: 0.5em;
	border: solid 1px #000000;
	border-radius: 5px;
}

.filter-input .filter-select {
	width: 100%;
	height: 100%;
	text-indent: 0.5em;
	border: solid 1px #000000;
	border-radius: 5px;
}

@-moz-document url-prefix() {
	.filter-select
	{
		padding-top: 6px;
	}
}

/* 搜索按钮 */
.filter-submit {
	position: absolute;
	left: 1613px;
	top: 107px;
	width: 164px;
	height: 164px;
	cursor: pointer;
}

.filter-submit img {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
}

.filter-submit>.active {
	display: none;
}

.filter-submit:active>.active {
	display: block;
}

/* 内容 */
.content-frame {
	position: relative;
	width: 1920px;
	height: 654px;
	background-image: url('../images/device_time_tubiao_bg.png');
	background-repeat: no-repeat;
	overflow: hidden;
}

#list-frame {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1920px;
	height: 598px;
	overflow: auto;
	z-index: 1;
}

.select-frame
{
	position: absolute;
	left: 0;
	top: 500px;
	width: 100%;
	height: 30px;
}

.select-title
{
	text-align: left;
	font-family: '微软雅黑';
	color: #FFFFFF;
	background-color: #088B00;
	padding-left: 30px;
}

.select-list
{
	white-space: nowrap;
	overflow: auto;
	padding-left: 30px;
}
.select-list td
{
	width: 10%;
}