.zl-content-label {
	float: left;
	margin-left: 1.4rem;
	margin-top: 0.7rem;
	width: 0.75rem;
	font-size: 0.18rem;
	line-height: 0.18rem;
	color: #828282;
	white-space: nowrap;
	text-align: right;
}

.zl-content-select {
	float: left;
	margin-left: 0.3rem;
	margin-top: 0.62rem;
}

.content-info-top {
	height: 0.42rem;
	width: 19.2rem;
	left: 0;
	top: 0;
	position: absolute;
	background-color: #E4EAE6;
}

.content-info-tubiao {
	width: 19.2rem;
	height: 5.36rem;
	left: 0;
	top: 0.42rem;
	position: absolute;
}

.content-info-bottom {
	height: 0.42rem;
	width: 19.2rem;
	left: 0;
	top: 5.78rem;
	position: absolute;
	background-color: #E4EAE6;
	font-size: 0.16rem;
	line-height: 0.42rem;
	padding-left: 0.3rem;
	vertical-align: middle;
	color: #7A7A7A;
}

.content-info-serialNo {
	height: 1rem;
	width: 19.2rem;
	left: 0;
	top: 6.2rem;
	position: absolute;
}

.content-info-tbwh {
	height: 5rem;
	width: 14.6rem;
	position: absolute;
	top: 0.2rem;
	left: 2.3rem;
}

.select-list {
	position: absolute;
	white-space: nowrap;
	overflow: auto;
	font-size: 0.2rem;
	top: 0;
	left: 0;
	width: 19.2rem;
	height: 1rem;
	line-height: 0.5rem;
	color: #7A7A7A;
}

.select-list td {
	width: 1.92rem;
	height: 50%;
	text-align: center;
	overflow: hidden;
}

.zl-content-btn {
	left: 1.5rem;
	top: 0.6rem;
} 
