.equstatus{width:440px;height:80px;font-size: 14px;left: 20px;top: 780px;z-index: 10;color: #505050;}
.yanse_WH{width: 60px;height: 32px;line-height: normal;} 
.font_WH{width: 140px;height: 32px;line-height: normal;} 
.yanse_LT1{left:0px;top: 10px;background-color: #37A338;}
.yanse_LT2{left:200px;top:10px;background-color: #FED400;}
.yanse_LT3{left:0px;top: 52px;background-color: #FF0000;}
.yanse_LT4{left:200px;top:52px;background-color: #626262;}
.font_LT1{left: 80px;top: 10px;}
.font_LT2{left: 280px;top:10px;}
.font_LT3{left: 80px;top: 52px;}
.font_LT4{left: 280px;top:52px;}

.equstatus2{width:700px;height:50px;font-size: 14px;left: 20px;top: 780px;z-index: 10;color: #505050;position: absolute;}
.yanse_WH2{width: 18px;height: 50px;line-height: 50px;float: left;margin-left: 30px;}
.yanse_LT11{left: 0px;top: 0px;}
.yanse_LT22{left: 100px;top: 0px;}
.yanse_LT33{left: 240px;top: 0px;}
.yanse_LT44{left: 380px;top: 0px;}
.font_WH2{height:50px;line-height: 50px;float: left;margin-left: 20px;white-space: nowrap;}
.font_LT11{left: 30px;top: 0px;}
.font_LT22{left: 130px;top: 0px;}
.font_LT33{left: 270px;top: 0px;}
.font_LT44{left: 410px;top: 0px;}


.next-page{position: absolute;z-index: 100;width: 50px; height: 124px;top: 400px;left: 1870px;display: none;}
.zl-content-top>.txt-wh>.titletxt{font-size: 24px;line-height: 25px;height: 25px;left: 20px;width: 370px;top: 15px;text-align: left;}
.zl-content-top>.txt-wh>.titleconten{
	font-size: 100px;
	line-height: 100px;
	height: 100px;
	left: 180px;
	width: 255px;
	top:40px;
	text-align: left;
	font-family:"Arial Black";
}
.titlecontenspan{
	font-size: 72px;
	font-family:"Arial Black" !important;
}


.content-info-bg{position: absolute;width: 1920px;height: 720px;left: 0px;top:0px;z-index: -1;}
.content-info-qy{position: absolute;width: 1920px;height: 720px;left: 125px;top:0px;}
.content-info-doubleClick{background-color: white;position: relative;background-repeat: no-repeat;display: none;}