.equstatus {
	width: 4.40rem;
	height: 0.80rem;
	font-size: 0.14rem;
	left: 0.20rem;
	top: 7.80rem;
	z-index: 10;
	color: #505050;
}

.yanse_WH {
	width: 0.60rem;
	height: 0.32rem;
	line-height: normal;
}

.font_WH {
	width: 1.40rem;
	height: 0.32rem;
	line-height: normal;
}

.yanse_LT1 {
	left: 0;
	top: 0.10rem;
	background-color: #37A338;
}

.yanse_LT2 {
	left: 2.00rem;
	top: 0.10rem;
	background-color: #FED400;
}

.yanse_LT3 {
	left: 0;
	top: 0.52rem;
	background-color: #FF0000;
}

.yanse_LT4 {
	left: 2.00rem;
	top: 0.52rem;
	background-color: #626262;
}

.font_LT1 {
	left: 0.80rem;
	top: 0.10rem;
}

.font_LT2 {
	left: 2.80rem;
	top: 0.10rem;
}

.font_LT3 {
	left: 0.80rem;
	top: 0.52rem;
}

.font_LT4 {
	left: 2.80rem;
	top: 0.52rem;
}

.equstatus2 {
	width: 7.00rem;
	height: 0.50rem;
	font-size: 0.14rem;
	left: 0.20rem;
	top: 7.80rem;
	z-index: 10;
	color: #505050;
	position: absolute;
}

.yanse_WH2 {
	width: 0.18rem;
	height: 0.50rem;
	line-height: 0.50rem;
	float: left;
	margin-left: 0.30rem;
}

.yanse_LT11 {
	left: 0;
	top: 0;
}

.yanse_LT22 {
	left: 1.00rem;
	top: 0;
}

.yanse_LT33 {
	left: 2.40rem;
	top: 0;
}

.yanse_LT44 {
	left: 3.80rem;
	top: 0;
}

.font_WH2 {
	height: 0.50rem;
	line-height: 0.50rem;
	float: left;
	margin-left: 0.20rem;
	white-space: nowrap;
}

.font_LT11 {
	left: 0.30rem;
	top: 0;
}

.font_LT22 {
	left: 1.30rem;
	top: 0;
}

.font_LT33 {
	left: 2.70rem;
	top: 0;
}

.font_LT44 {
	left: 4.10rem;
	top: 0;
}

.next-page {
	position: absolute;
	z-index: 100;
	width: 0.50rem;
	height: 1.24rem;
	top: 4.00rem;
	left: 18.70rem;
	display: none;
}

.zl-content-top>.txt-wh>.titletxt {
	position: absolute;
	font-size: 0.24rem;
	line-height: 0.25rem;
	height: 0.25rem;
	left: 0.20rem;
	width: 3.70rem;
	top: 0.15rem;
	text-align: left;
}

.zl-content-top>.txt-wh>.titleconten {
	position: absolute;
	font-size: 1.00rem;
	line-height: 1.00rem;
	height: 1.00rem;
	left: 1.80rem;
	width: 2.55rem;
	top: 0.40rem;
	text-align: left;
	font-family: "Arial Black";
}

.titlecontenspan {
	font-size: 0.72rem;
	font-family: "Arial Black" !important;
}

.content-info-bg {
	position: absolute;
	width: 19.20rem;
	height: 7.20rem;
	left: 0;
	top: 0;
	z-index: -1;
}

.content-info-qy {
	position: absolute;
	width: 19.20rem;
	height: 7.20rem;
	top: 0;
}

.content-info-doubleClick {
	background-color: white;
	position: relative;
	background-repeat: no-repeat;
	display: none;
}