/* 保存按钮 */
.btn-save {
	width: 53px;
	height: 53px;
	cursor: pointer;
}

.imagebtn {
	cursor: pointer;
}

.inputText{
	width: 100%;
	height: 85%;
	color: #595959 !important;
	font-family: "微软雅黑" !important;
}
.inputTextNoChange{
	width:100%;
	height:85%;
	line_height:85%;
	font-size:100% ;
	color: #595959 !important;
	font-family: "微软雅黑" !important;
	background-color: #F0F0F0 !important;
	background-image: url("") !important;
}
