.jobdispatch-add-shadow {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,.8);
	z-index: 9;
}

.jobdispatch-add-out {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 13.30rem;
	height: 8.5rem;
	margin-left: -6.65rem;
	margin-top: -4.25rem;
	background-color: white;
	visibility: hidden;
	z-index: 10;
}

.jobdispatch-add-in {
	position: absolute;
	box-sizing: border-box !important;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	border: #689976 solid 0.05rem;
}

.jobdispatch-add-tou {
	position: absolute;
	width: 100%;
	height: 0.9rem;
}

.jobdispatch-add-image {
	position: absolute;
	width: 100%;
	height: 0.9rem;
}

.jobdispatch-add-title {
	position: absolute;
	left: 0;
	top: 0.2rem;
	width: 100%;
	height: 0.45rem;
	text-align: center;
	font-size: 0.36rem;
	color: #828282;
}

.middle_xian {
	position: relative;
	width: 100%;
	height: 0.06rem;
	top: 0.9rem;
}

.zhongjian_shuju {
	position: relative;
	width: 100%;
	height: 0.75rem;
	top: 0.91rem;
	background-color: #E3E8E4;
}

.zhongjian_shuju1 {
	position: relative;
	width: 100%;
	height: 0.75rem;
	top: 0.9rem;
	background-color: #E3E8E4;
}

.jobdispatch-content-select {
	float: left;
	margin: 0.2rem 0 0 0.4rem;
}

.jobdispatch-select-lt {
	float: left;
	margin-left: 0.4rem;
	margin-top: 0.2rem;
}

.jobdispatch-text-lt {
	float: left;
	margin-left: 0.4rem;
	margin-top: 0.2rem;
}

.jobdispatch-content-label {
	float: left;
	margin-left: 0.85rem;
	margin-top: 0.23rem;
	width: 1.2rem;
	font-size: 0.18rem;
	line-height: 0.18rem;
	color: #828282;
	text-align: right;
	white-space: nowrap;
}

.jobdispatch-content-info {
	position: absolute;
	width: 100%;
	height: 3.99rem;
	top: 2.88rem;
	background-color: white;
}

.zl-xiaobiaoti {
	float: left;
	position: relative;
	width: 1.31rem;
	height: 0.42rem;
	top: 0.9rem;
	background-color: #679574;
}

.zl-xiaobiaoti1 {
	float: left;
	position: relative;
	width: 1.31rem;
	height: 0.42rem;
	margin-left: 5.4rem;
	top: 0.9rem;
	background-color: #679574;
} 
/* 切换主体的大小位置定义 */ 
.jobdispatch-content-info-tubiao {
	float: left;
	height: 3.9rem;
	width: 5.2rem;
	position: absolute;
	left: 0;
	background-color: white;
	border: #689976 solid 1px;
}

.jobdispatch-tab-table1 {
	height: 3.8rem;
	width: 5.2rem;
	overflow: auto;
	position: relative;
}

.jobdispatch-content-button {
	float: left;
	position: relative;
	height: 1.4rem;
	width: 1.5rem;
	margin-left: 5.22rem;
	top: 1.6rem;
	background-color: white;
}

.jobdispatch-content-input {
	width: 0.75rem;
	font-size: 0.18rem;
	color: white;
	text-align: center;
	line-height: 0.42rem;
	position: relative;
	margin-left: 0.2rem;
}

.import {
	position: relative;
	width: 1.41rem;
	height: 0.34rem;
	top: 0.25rem;
	margin-left: 0.05rem;
}

.import1 {
	position: absolute;
	width: 1.41rem;
	height: 0.34rem;
	top: 0.8rem;
	margin-left: 0.05rem;
}

.jobdispatch-button1 {
	width: 1.41rem;
	height: 0.34rem;
	position: absolute;
}

.jobdispatch-content-btn3 {
	position: absolute;
	height: 0.34rem;
	left: 0.02rem;
	top: 0;
}

.jobdispatch-button-text1 {
	position: absolute;
	left: 0;
	top: 0;
	width: 1.41rem;
	height: 0.34rem;
	text-align: center;
	font-size: 0.16rem;
	font-weight: bold;
	line-height: 0.34rem;
	color: #5B5B5B;
	cursor: pointer;
}

.jobdispatch-button-text2 {
	position: absolute;
	margin-left: 0.13rem;
	top: 0;
	width: 1.41rem;
	height: 0.34rem;
	text-align: center;
	font-size: 0.16rem;
	font-weight: bold;
	line-height: 0.34rem;
	color: #5B5B5B;
	cursor: pointer;
}

.zl-hengxiangyou {
	width: 0.14rem;
	height: 0.18rem;
	margin-left: 0.25rem;
	margin-top: 0.08rem;
}

.zl-hengxiangzuo {
	width: 0.14rem;
	height: 0.18rem;
	margin-left: 0.25rem;
	margin-top: 0.08rem;
}

.zl-hengxiang-image {
	width: 0.14rem;
	height: 0.18rem;
}

.jobdispatch-content-info-tubiao1 {
	float: left;
	height: 3.88rem;
	width: 6.4rem;
	position: absolute;
	left: 6.7rem;
	background-color: white;
	border: #689976 solid 1px;
}

.table-title {
	position: absolute;
	left: 0;
	right: 0;
	width: 6.4rem;
	font-size: 100%;
	z-index: 1;
}

.wei_xian {
	position: absolute;
	width: 100%;
	height: 0.7rem;
	bottom: 0;
	background-color: #E3E8E4;
	z-index: 0;
}

.import2 {
	position: absolute;
	width: 1.41rem;
	height: 0.34rem;
	top: 0.25rem;
	left: 7rem;
	z-index: 1;
}

.import3 {
	position: absolute;
	width: 1.41rem;
	height: 0.34rem;
	top: 0.25rem;
	left: 4.5rem;
	z-index: 1;
}

.import_image {
	position: absolute;
	width: 1.41rem;
	height: 0.34rem;
}

.jobdispatch-tab-table {
	height: 3.8rem;
	width: 6.4rem;
	overflow: auto;
	position: relative;
} 
/* 表格样式(p) */ 
/* 分割线 */ 
.ui-datatable table {
	border-bottom: solid 1px rgba(67,147,141,.25);
}

.ui-datatable .ui-datatable-data td, .ui-datatable .ui-datatable-data-empty td {
	border-color: rgba(67,147,141,.25);
} 
/* 表头样式 */ 
.ui-datatable th div.ui-dt-c {
	padding: 0;
	font-size: 100%;
	line-height: 200%;
	color: #565656;
	background: #e3e8e4;
}

.ui-datatable th div.ui-dt-c>span {
	font-size: 100%;
} 

/* 表格样式 */ 
.ui-datatable .ui-datatable-data td {
	padding: 4 10;
	font-size: 77.78%;
	line-height: 160%;
	color: #6D6D6D;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
	border: 1px solid #a8a8a8;
	background: #ffffff;
	color: #565656;
	text-shadow: none;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background: none;
	background-color: #e3e8e4;
} 

