.zl-content-top-title{
	position: relative;
	width: 440px;
	height: 160px;
	border-right: solid 1px #828282;
	text-align: center;
	font-size: 43px;
	line-height: 160px;
	color: #7A7A7A;
}
.zl-content-top-info-up2{
	position: absolute;
	left: 440px;
	top: 0;
	width: 1255px;
	height: 160px;
	font-size:18px;
	border-right: solid 1px #828282;
    line-height:10px;
    
 }
 
.zl-content-label {
	float: left;
	margin-left:20px;
	margin-top: 40px;
	width: 75px;
	font-size: 18px;
	line-height: 18px;
	color: #828282;
	white-space: nowrap;
	text-align: right;
}
.zl-content-label1 {
	float: left;
	margin-left:10px;
	margin-top: 40px;
	width: 75px;
	font-size: 18px;
	line-height: 18px;
	color: #828282;
	white-space: nowrap;
	text-align: right;
}

.zl-content-select {
	float: left;
	margin-left: 30px;
	margin-top: 30px;
}
.zl-content-select1 {
	float: left;
	margin-left: 70px;
	margin-top: 30px;
}

.zl-select-lt{
	float: left;
	margin-left: 30px;
	margin-top: 36px;
}
.zl-select-lt1{
	float: left;
	margin-left: 20px;
	margin-top: 36px;
}
.zl-import{
	width: 100px;
	height: 30px;
	margin-top: 80px;
	margin-left: 60px;
}
.zl-content-info {
	font-size: 18px;
}
.tab-table{
	width: 1920px;
}
.table-title
{
	position: absolute;
	left: 0px;
	right: 0px;
	width:1920px;
	font-size: 100%;
	z-index: 1;
}
.table-body {
	position: absolute;
	left: 0;
	top: 40px;
	width: 1920px;
	height: 678px;
	font-size: 100%;
	overflow: auto;
	z-index: 0;
}
.table-body .ui-widget {
	font-size: 100%;
}


