.zl-content-top-bg {
	position: absolute;
	left: 0;
	top: 0;
	width: 1920px;
	height: 237px;
}

.zl-content-top-title {
	position: relative;
	padding-top: 92px;
	width: 480px;
	height: 198px;
	border-right: solid 1px #828282;
	text-align: center;
	font-size: 43px;
	line-height: 43px;
	color: #7A7A7A;
}

/* 筛选栏 */
.zl-content-top-info-up {
	position: absolute;
	left: 480px;
	top: 0;
	width: 1255px;
	height: 78px;
	border-bottom: solid 1px rgba(58,128,55,.5);
}
.zl-content-top-info-up2 {
	position: absolute;
	left: 480px;
	top: 78px;
	width: 1255px;
	height: 78px;
}
.zl-content-label {
	float: left;
	margin-left: 20px;
	margin-top: 30px;
	width: 80px;
	text-align: right;
	font-size: 18px;
	line-height: 18px;
	color: #828282;
	white-space: nowrap;
	text-align: right;
}
/* 选择框自定义 */
.zl-content-select {
	float: left;
	margin-left:50px;
	margin-top: 22px;
	width: 255px;
}
.zl-content-select .zl-dateBox-bg-center,.zl-content-select.zl-dateBox input[type='text'],.zl-content-select .zl-selectMoreBox-bg-center,.zl-content-select.zl-selectMoreBox input[type='text'] {
	width: 206px;
}
.zl-content-select.zl-selectMoreBox .t_select_list_table {
	width: 255px;
	z-index: 4;
}
.zl-content-select.zl-selectMoreBox .t_select_list_table table, .zl-content-select.zl-selectMoreBox .t_select_list_table td {
	width: 255px;
}

/* 搜索按钮区域 */
.zl-content-top-info-search {
	position: absolute;
	left: 1735px;
	top: 0;
	width: 185px;
	height: 156px;
	border-left: solid 1px #828282;
}
.zl-content-top-info-search .zl-content-btn {
	position: absolute;
	left: 22px;
	top: 61px;
}
/* 控制按钮栏 */
.zl-content-top-info-down {
	position: absolute;
	left: 480px;
	top: 156px;
	width: 1440px;;
	height: 81px;
	border-top: solid 1px rgba(58,128,55,.5);
	
}
.zl-content-top-info-down-split {
	position: relative;
	float: left;
	margin-top: 23px;
	width: 1px;
	height: 36px;
	background: #4E4E4E;
}
.zl-content-top-info-down-split:first-of-type {
	margin-left: 40px;
}
.zl-content-top-info-down-btn {
	position: relative;
	float: left;
	margin-top: 23px;
	margin-left: 36px;
	margin-right: 36px;
	width: 36px;
	height: 36px;
	cursor: pointer;
}
.zl-content-top-info-down-btn-bg, .zl-content-top-info-down-btn-bg-active {
	position: absolute;
	left: 0;
	top: 0;
	width: 36px;
	height: 36px;
	z-index: 1;
	visibility: visible;
}
.zl-content-top-info-down-btn .zl-content-top-info-down-btn-bg-active {
	visibility: hidden;
}
.zl-content-top-info-down-btn.active .zl-content-top-info-down-btn-bg {
	visibility: hidden;
}
.zl-content-top-info-down-btn.active .zl-content-top-info-down-btn-bg-active {
	visibility: visible;
}
.zl-content-top-info-down-btn-img {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 30px;
	height: 30px;
	z-index: 1;
}

.zl-content-top-info-down .zl-content-btn {
	float: left;
	margin-left: 40px;
	margin-top: 22px;
}

/* 日期弹出框 */
.rf-cal-popup {
	z-index: 10 !important;
}

/* 甘特图 */
/* 甘特图区域 */
.jobplan_content{
	position: absolute;
	left: 0;
	top: 0;
	width: 1920px;
	height:642px;
}
.example-container{
	width: 100%;
	height: 100%;
}

/* 左右分割线 */
.x-grid-locked .x-grid-inner-locked {
	border: none 0px;
	border-right: solid 1px #828282;
}
.x-panel-default:nth-of-type(2) {
	margin-left: 1px;
}

/* 标题背景色 */
.x-column-header-over, .sch-column-header-over{
	background: none;
}

/* 左标题字体 */
.x-grid-inner-locked>.x-grid-header-ct .x-column-header {
	background: #e4eae6;
	font-size: 2em;
	text-indent: 21%;
	color: #6D6D6D;
}
.x-column-header-text{
  
  white-space: nowrap;
  padding-left: 45px;
	
}
/* 树状图左侧留白区域 */
.x-grid-inner-locked .x-grid-cell-inner {
	line-height: 30px;
	margin-left: 30%;
}
/* 树状图文字 */
.x-grid-cell-inner {
	padding: 0;
	margin-left: 1em;
	font-size: 1.2em;
	color: #6D6D6D;
	text-align: center;
}
.x-grid-row-selected .x-grid-cell-inner {
	color: #FFF;
} 
/* 右侧标题时间文字 */
.sch-column-header {
	background: #e4eae6;
	font-size: 1.5em;
	color: #6D6D6D;
}
.sch-simple-timeheader {
	font-family: "微软雅黑",Arial;
	color: #6D6D6D;
	/*color: #565656;*/
}
/* 右侧行高控制 */
td.sch-timetd .x-grid-cell-inner {
	padding: 0;
}
/* 甘特图边框线 */
.x-grid-with-row-lines .x-grid-cell {
	border-color: rgba(67,147,141,.25);
}
/* 选中行样式 */
.x-grid-row-selected .x-grid-td {
	background-color: rgba(104,153,118,.5) !important;
}

/* 右侧内容样式 */
/* 边框 */
.sch-event {
	border: none 0px;
}
/* 默认 */
.ext_jobplan {
	background-color: rgba(244,221,12,1);
	height:30px !important;
	margin-top:0px;
}
.ext_default {
	 background-color: rgb(14,173,255);
}
/* 已完成 */
.sch-event-inner {
	margin-left: 0;
	margin-right: 0;
}
.sch-percent-allocated-bar {
    background-color: rgba(108,204,71,1);
    bottom:0;
    left:0;
    position:absolute;
    overflow:hidden;
    height:100%;
    z-index:-1; 
    
}


/* 创建 */
.ext_chuangjian,.ext_daipaigong, .ext_yipaigong {
	background-color: rgba(0,129,206,.6);
	height:30px !important;
	margin-top:0px;
}
/* 上线 加工 */
.ext_shangxian, .ext_jiagong {
	background-color: rgba(244,221,12,1);
	height:30px !important;
	margin-top:0px;
}
/* 结束 */
.ext_jieshu{
	background-color:rgba(160,160,160,.4);
	height:30px !important;
	margin-top:0px;
}
/* 完成 */
.ext_wancheng{
	background-color:rgba(160,160,160,1);
	height:30px !important;
	margin-top:0px;
}
/* 暂停 */
.ext_pause{
	background-color:rgba(251,117,0,1);
	height:30px !important;
	margin-top:0px;
}
/* 内容文字 */
.sch-percent-allocated-text
{
    display:block;
    position: absolute;
    left: 0;
    top: 32%;
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: #000;
}

/*window PAD微调*/
@media screen and (min-width: 981px) and (max-width: 1280px) {
	/* 左标题字体 */
	.x-grid-inner-locked>.x-grid-header-ct .x-column-header {
		text-indent: 14%;
	}
	.x-column-header-text{
	  padding-left: 0px;
		
	}
	/* 树状图左侧留白区域 */
	.x-grid-inner-locked .x-grid-cell-inner {
		margin-left: 16%;
	}
	/* 创建 */
	.ext_chuangjian,.ext_daipaigong, .ext_yipaigong {
		height:22px !important;
		margin-top:0px;
	}
	/* 上线 加工 */
	.ext_shangxian, .ext_jiagong {
		height:22px !important;
		margin-top:0px;
	}
	/* 结束 */
	.ext_jieshu{
		height:22px !important;
		margin-top:0px;
	}
	/* 完成 */
	.ext_wancheng{
		height:22px !important;
		margin-top:0px;
	}
	/* 暂停 */
	.ext_pause{
		background-color:rgb(255,0,0);
		height:22px !important;
		margin-top:0px;
	}
	/* 内容文字 */
	.sch-percent-allocated-text
	{
	    top: 20%;
	}
}

/*i PAD微调*/
@media screen and (min-width: 0px) and (max-width: 980px) {
	/* 左标题字体 */
	.x-grid-inner-locked>.x-grid-header-ct .x-column-header {
		text-indent: 12%;
	}
	.x-column-header-text{
	  padding-left: 0px;
		
	}
	/* 树状图左侧留白区域 */
	.x-grid-inner-locked .x-grid-cell-inner {
		margin-left: 15%;
	}
	/* 创建 */
	.ext_chuangjian,.ext_daipaigong, .ext_yipaigong {
		height:18px !important;
		margin-top:0px;
	}
	/* 上线 加工 */
	.ext_shangxian, .ext_jiagong {
		height:18px !important;
		margin-top:0px;
	}
	/* 结束 */
	.ext_jieshu{
		height:18px !important;
		margin-top:0px;
	}
	/* 完成 */
	.ext_wancheng{
		height:18px !important;
		margin-top:0px;
	}
	/* 暂停 */
	.ext_pause{
		height:18px !important;
		margin-top:0px;
	}
	/* 内容文字 */
	.sch-percent-allocated-text
	{
	    top: 10%;
	}
}

/* 选中状态 */
div.sch-event-selected {
	border: solid 1px;
}
/* 隐藏悬停线 */
.sch-horizontal .sch-resizable-handle {
	background: none;
}