* {
	color: #595959;
	font-weight: bold;
	font-size:inherit;
}

.data {
	height: 37px;
	font-weight: normal;
	width: 80%
}

.toptab {
	display: block !important;
}
.rf-cal-extr{
    font-weight: normal;
}
.rf-cal-tl-ftr{
    font-weight: normal;
}
.rf-cal-tl-btn{
    font-weight: normal;
}

.btn-next {
	width: 59px;
	height: 59px;
	cursor: pointer;
}

.ui-dt-c{
   font-weight: normal;
   color:#333333;
}
.ui-state-default .ui-dt-c span{
   text-shadow:none;
   color:white;
}
 .mybutton .ui-button-text{
   color:white;
}
button:hover{
	background-image: url('');
}
.t_select_list_table{
   width: 230px;
}

textarea, input[type="text"], input[type="password"], select{
font-size:20px;
color:#333333;
}

.ui-state-default{background:#00a040;}

.t_selected {
	float: left;
	overflow: hidden;
	width: 384px;
	height: 40px;
	line-height: 40px;
	color: #000;
	text-align: left;
	position: relative;
	z-index: 1;
	cursor: pointer;
	display: block;
}


/* 保存按钮 */
.btn-save {
	width: 53px;
	height: 53px;
	cursor: pointer;
}

/* 上一步按钮 */
.btn-prev {
	width: 59px;
	height: 59px;
	cursor: pointer;
}

.imagebtn {
	cursor: pointer;
}

/* 标题 */
.title-text {
	position: absolute;
	left: 0;
	top: 114px;
	line-height: 52px;
	font-size: 52px;
	font-weight: bold;
	color: #595959;
}

.header-filter-title {
	position: relative;
	margin-top: 65px;
	width: 384px;
	height: 42px;
	font-size: 36px;
	line-height: 42px;
	text-align: left;
}

.header-filter-select {
	position: relative;
	margin-top: 65px;
	margin-left: -140px;
	width: 384px;
	height: 42px;
}

/* 搜索按钮 */
.filter-submit {
	position: absolute;
	left: 110px;
	top: 58px;
	width: 164px;
	height: 164px;
	cursor: pointer;
}

.filter-submit img {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
}

.filter-submit>.active {
	display: none;
}

.filter-submit:active>.active {
	display: block;
}

/* 上一步 */
.prevBtn {
	position: absolute;
	top: 0;
	left: 0;
	width: 288px;
	height: 726px;
	text-align: center;
}

/* 下一步 */
.nextBtn {
	position: absolute;
	top: 0;
	left: 1632px;
	width: 288px;
	height: 726px;
	text-align: center;
}

.prevBtn>img, .nextBtn>img {
	margin-top: 333px;
}

/* 主要内容 */
.content-center {
	position: absolute;
	top: 0;
	left: 288px;
	width: 1344px;
	height: 726px;
	text-align: center;
}

/* 设备列表 */
.table-frame {
	position: relative; 
	overflow: hidden;
	width: 1344px;
	height: 726px;
}
.table-frame .table-title {
	position:absolute;
	left: 0;
	top: 0;
	right: 0;
	z-index: 1;
}

.table-frame .table-body {
	position:absolute;
	left: 0;
	top: 0;
	overflow-x: hidden;
	overflow-y: auto;
	width: 1361px;
	height: 726px;
}

.table-body>div {
	width: 1344px;
}

.info-line {
	position: relative;
	width: 1344px;
	height: 70px;
}

.info-title {
	position: absolute;
	left: 0;
	top: 0;
	width: 400px;
	height: 70px;
	font-size: 24px;
	line-height: 70px;
	text-align: right;
}
.info-value {
	position: absolute;
	left: 400px;
	top: 0;
	width: 944px;
	height: 70px;
	text-align: left;
}
.info-value>select {
	position: relative;
	top: 20px;
	left: 20px;
	width: 800px;
	height: 30px;
}
 .info-value input {
	position: relative;
	top: 20px;
	left: 20px;
	width: 800px;
	height: 30px;
}
.info-value span>img.rf-cal-btn {
	display: none;
}
.info-value .data-require {
	position: relative;
	left: 30px;
	top: 20px;
	color: red;
}

.btn-plus {
 	position: absolute;
 	left: 806px;
 	top: 20px;
 	width: 15px;
 	height: 15px;
 	cursor: pointer;
}
.btn-minus {
 	position: absolute;
 	left: 806px;
 	top: 36px;
 	width: 15px;
 	height: 15px;
 	cursor: pointer;
}

.number-btn {
	border: 0;
	background-color: #00A040;
	background-image: url('');
	color: white;
	text-shadow: none;
	margin: 0 20px;
}

.comfirm-table {
	width: 100%;
	height: 100%;
}
.comfirm-table>table {
	width: 100%;
	height: 70%;
}

.ui-datatable th div.ui-dt-c {
	padding: 0;
} 