* {
	padding: 0px;
	margin: 0px;
	font-family: "微软雅黑";
	color: #595959;
	font-weight: bold;
}

.ui-state-default {
 		border: 1px solid rgb(168, 168, 168);
 		background: -moz-linear-gradient(center top,rgba(0, 160, 64, 0.2),rgba(0, 160, 64, 0.2)) 
 		repeat scroll 0% 0% rgb(196, 196, 196);
 		}