.jobplan-add-shadow {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,.8);
	z-index: 9;
}
.jobplan-add-out {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 13.30rem;
	height: 6.90rem;
	margin-left: -6.65rem;
	margin-top: -2.45rem;
	background-color: white;
	visibility: hidden;
	z-index: 10;
}
.jobdispatch-add-out{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 13.30rem;
	height: 8.5rem;
	margin-left: -6.65rem;
	margin-top: -4.25rem;
	background-color: white;
	visibility: hidden;
	z-index: 10;
}

.jobplan-add-in {
	position: absolute;
	box-sizing: border-box !important;
	width: 100%;
	height: 4.80rem;
	margin-left: auto;
	margin-right: auto;
	top:0;
	left: 0;
	border: #689976 solid 0.05rem;
}
.jobplan-add-tou {
	width: 100%;
	height: 0.90rem;
	position: absolute;
}
.jobplan-add-image {
	position:absolute;
	width: 100%;
	height: 0.90rem;
}
.jobplan-add-title {
	position:absolute;
	left: 0;
	top: 0.20rem;
	width: 100%;
	height: 0.45rem;
	text-align: center;
	font-size: 0.36rem;
	color: #828282;
}
.middle_xian {
	position: relative;
	width: 100%;
	height:0.06rem;
	top: 0.90rem;
}
.zhongjian_shuju {
	position: relative;
	width: 100%;
	height:0.75rem;
	top: 0.91rem;
	background-color: #E3E8E4
}
.zhongjian_shuju1 {
	position: relative;
	width: 100%;
	height:0.75rem;
	top: 0.89rem;
	background-color: #E3E8E4
}
.zhongjian_shuju2 {
	position: relative;
	width: 100%;
	height:0.75rem;
	top: 0.87rem;
	background-color: #E3E8E4
}
.zhongjian_shuju3 {
	position: relative;
	width: 100%;
	height:0.75rem;
	top: 0.85rem;
	background-color: #E3E8E4
}
.jobplanadd-content-label {
	float: left;
	margin-left:0.85rem;
	margin-top: 0.23rem;
	width: 1.20rem;
	font-size: 0.18rem;
	line-height: 0.18rem;
	color: #828282;
	text-align:right;
	white-space: nowrap;
}
.jobplanadd-content-select {
	float: left;
	margin-left: 0.30rem;
	margin-top: 0.20rem;
}
.jobplanadd-select-lt {
	float: left;
	margin-left: 0.30rem;
	margin-top: 0.20rem;
}
.jobplanadd-text-lt {
	float: left;
	margin-left: 0.30rem;
	margin-top: 0.20rem;
}
.zl-textbox1 {
	position: relative;
	width: 1.88rem;
	height: 0.34rem;
	overflow: hidden;
}
.zl-text-bg-left1 {
	float: left;
	width: 0.18rem;
	height: 0.34rem;
}
.zl-text-bg-center1 {
	float: left;
	width: 1.39rem;
	height: 0.34rem;
}
.zl-text-bg-right1 {
	position:relative;
	float: left;
	width: 0.31rem;
	height: 0.34rem;
	z-index: 2;
}
.zl-text1 input {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	border: none 0;
	padding-left: 0.18rem;
	width: 1.39rem;
	height: 0.34rem;
	font-family: "微软雅黑";
	font-size: 0.18rem;
	line-height: 0.34rem;
	color: rgb(89, 89, 89);
	background: none;
	cursor: pointer;
	z-index: 1;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.zl-select input[type='text'] {
	display: block;
	position: absolute;
	left: 0.18rem;
	top: 0.04rem;
	border: none 0;
	padding-left: 0;
	padding-right: 0;
	width: 1.23rem;
	height: 0.28rem;
	font-family: "微软雅黑";
	font-size: 0.19rem;
	color: #595959;
	line-height: 0.28rem;
	background: #ffffff;
	z-index: 1;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.zl-select select {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	border: none 0;
	padding-left: 0.17rem;
	padding-right: 0;
	width: 2.40rem;
	height: 0.34rem;
	font-family: "微软雅黑";
	font-size: 0.18rem;
	color: #595959;
	line-height: 0.24rem;
	background: none;
	z-index: 1;
}
.zl-select option {
	position:absolute;
	left: 0;
	top: 0;
	width: 1.40rem;
	height: 0.34rem;
	font-family: "微软雅黑";
	font-size: 0.18rem;
	color: #595959;
	line-height: 0.34rem;
}
.wei_xian {
	position: absolute;
	width: 100%;
	height:1.00rem;
	bottom:0;
	background-color: #E3E8E4;
	z-index: 0;
}
.wei_xian-infoText {
	position: relative;
	width: 100%;
	height: 0.20rem;
	text-align: center;
	font-size: 0.20rem;
	color: red;
}
.import {
	position: absolute;
	width:1.41rem;
	height:0.34rem;
	top:0.45rem;
	left:4.50rem;
	z-index: 1;
}
.import1 {
	position: absolute;
	width:1.41rem;
	height:0.34rem;
	top:0.45rem;
	left:7.00rem;
	z-index: 1;
}
.import_image {
	width:1.41rem;
	height:0.34rem;
}
.jobplanadd-button1 {
	float: left;
	width: 1.41rem;
	height: 0.34rem;
	position: absolute;
}
.jobplanadd-content-btn3 {
	float: left;
	left:0.02rem;
	top: 0;
}
.jobplanadd-button-text1 {
	position: absolute;
	left: 0;
	top: 0;
	width: 1.41rem;
	height: 0.34rem;
	text-align: center;
	font-size: 0.16rem;
	font-weight: bold;
	line-height: 0.34rem;
	color: #5B5B5B;
	cursor: pointer;
}