
.pro_content{
	width: 1920px;
	height:725px;
	/*background-image: url("/mocs/images/machin_cost_bg.png");*/
	
}
.top_li_fx{
	width:384px;
	font-size:75px;
	font-weight:bold;
	text-align:center;
	vertical-align:middle;
	color:#505050;
	line-height: 264px;
}
.top_li_type{
	width:384px;
	font-size:40px;
	font-weight:bold;
	text-align:center;
	vertical-align:middle;
	color:#505050;
	line-height: 45px;
	margin-top: 70px;
}
.top_li_type2{
	width:384px;
	font-size:30px;
	text-align:center;
	vertical-align:middle;
	line-height: 25px;
	color:#505050;
}

.common_calendar{
	height: 40px;
	width: 260px;
}
input[type="text"]{
    border-width: 1px;
    border-style: solid;
    border-color: rgb(196, 192, 185);
    text-align:center;
    font-size: 30px;
    font-family: 微软雅黑;
    color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-position: 1px 1px;
    background-color: rgb(255, 255, 255);
    background-image: url("");
    color:#595959;
}
.rf-cal-btn {
   
}

.rf-cal-extr{
	width: 260px;
}

.rf-p{
	border-width: 0px;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
.rf-p-b {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.header-content-main-title {
	font-size: 55px;
	line-height: 280px;
}

.header-filter-title {
	position: absolute;
	left: 0;
	top: 70px;
	width: 384px;
	height: 45px;
	font-size: 40px;
	line-height: 45px;
}

.header-filter-select {
	position: absolute;
	left: 0;
	top: 115px;
	width: 384px;
	height: 40px;
	text-align: center;
}
.header-filter-select input[type='text'] {
	width: 260px;
	height: 40px;
	font-size: 30px;
}
.header-filter-select img.rf-cal-btn {
	display: none;
}

.header-filter-search {
	position: absolute;
	left: 110px;
	top: 58px;
	width: 164px;
	height: 164px;
}
.header-filter-search>input[type='image'] {
	height: 100%;
}

.content-bg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

#backtab {
	position: absolute;
	left: 5px;
	top: 200px;
	z-index: 100
}

#img2 {
	cursor: pointer;
	position: absolute;
	left: 0;
	top: 0;
	width: 73px;
	height: 181px;
}

#tabpage {
	position: absolute;
	left: 56px;
	top: 28px;
	width: 550px;
	height: 55px;
	cursor: pointer;
	white-space: nowrap;
	z-index: 100
}
#tabpage>img {
	height: 100%;
}

.frame-chart {
	position: absolute;
	top: 83px;
	left: 105px;
	width: 1700px;
	height: 540px;
}

.frame-chart-detail {
	width: 1700px;
	height: 540px;
	overflow-x: auto;
	overflow-y: hidden;
}

#selectone {
	position: absolute;
	left: 1330px;
	top: -60px;
	z-index: 100;
}
#selectone>select {
	width: 415px;
	height: 50px;
	font-size: 30px;
}