/* 文本位置 */
.zl-content-label {
	float: left;
	margin-left:100px;
	margin-top: 70px;
	width: 180px;
	font-size: 18px;
	line-height: 18px;
	color: #828282;
	white-space: nowrap;
	text-align: right;
}
/* 时间选择框位置 */
.zl-content-select {
	float: left;
	margin-left: 70px;
	margin-top: 62px;
}
/* 表头 */
.zl-content-info {
	font-size: 18px;
}
.table-title
{
	position: absolute;
	left: 0px;
	right: 0px;
    width:1920px;
	font-size: 100%;
	z-index: 1;
}
/*表格*/
.table-body {
	position: absolute;
	left: 0;
	top: 40px;
	width: 1920px;
	height: 678px;
	font-size: 100%;
	overflow: auto;
	z-index: 0;
}
.table-body .ui-widget {
	font-size: 100%;
}