/* 选择文字 */ 
.zl-content-top-selectTitle {
	position: absolute;
	left: 0.69rem;
	top: 0.42rem;
	width: 3.42rem;
	height: 0.24rem;
	text-align: left;
	font-size: 0.24rem;
	line-height: 0.24rem;
}

.zl-content-top-selectInfo {
	position: absolute;
	left: 0.69rem;
	top: 0.77rem;
	width: 3.1rem;
	height: 0.34rem;
}

.zl-iconSelect-bg-center {
	float: left;
	width: 2.4rem;
	height: 0.34rem;
} 
/* 选择框 */ 
.zl-content-top-selectInfo>select {
}

.zl-iconSelect select {
	font-weight: bold;
	color: #6f8474;
} 

/* 内容区域左侧 */ 
.zl-content-info-left {
	position: absolute;
	left: 0;
	top: 0;
	width: 9.6rem;
	height: 7.2rem;
	background: rgba(131,183,148,.1);
} 

/* 表格 */ 
.zl-content-info-left-table {
	position: absolute;
	left: 0.16rem;
	top: 0.26rem;
	width: 9.22rem;
	height: 4.44rem;
	font-size: 0.18rem;
	color: #565656;
	border: solid 1px rgba(67,147,141,.5);
	background: #FFF;
	overflow: hidden;
}

.zl-content-info-left-tableInner {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
} 
/* 标题 */ 
.zl-content-info-left-tableHead {
	position: absolute;
	left: 0;
	right: 0;
	z-index: 1;
}

.ui-state-default {
	background: #e4eae6;
} 
/* 内容文字 */ 
.zl-content-info-left-table td .ui-dt-c,.zl-content-info-left-table td .ui-dt-c>a {
	font-size: 0.14rem;
	text-align: center;
	text-decoration: none;
	color: #6d6d6d;
}

.zl-content-info-left-table td .ui-dt-c>a {
	color: #6f8474;
} 

/* 左侧图表 */ 
.zl-content-info-left-chart {
	position: absolute;
	left: 0.16rem;
	top: 4.85rem;
	width: 9.22rem;
	height: 2.2rem;
} 

/* 右侧框架 */ 
.zl-content-info-right {
	position: absolute;
	left: 9.6rem;
	top: 0;
	width: 9.6rem;
	height: 7.2rem;
} 

/* 右侧饼图区域 */ 
.zl-content-info-right-top {
	position: absolute;
	left: 0;
	top: 0;
	width: 9.6rem;
	height: 4.4rem;
}

#productcosttwoChart {
	position: relative;
	z-index: 1;
} 
/* 饼图背景 */ 
.zl-content-info-right-top-bg {
	position: absolute;
	left: 3.35rem;
	top: 0;
	width: 2.9rem;
	height: auto !important;
} 
/* 饼图合计文字 */ 
.zl-content-info-right-top-total {
	position: absolute;
	left: 0;
	top: 1.7rem;
	text-align: center;
	color: #689976;
	z-index: 0;
}

.zl-content-info-right-top-total-label {
	position: absolute;
	left: 0;
	top: 0;
	width: 9.6rem;
	height: 0.4rem;
	font-size: 0.4rem;
	line-height: 0.4rem;
}

.zl-content-info-right-top-total-value {
	position: absolute;
	left: 0;
	top: 0.6rem;
	width: 9.6rem;
	height: 0.24rem;
	font-size: 0.24rem;
	line-height: 0.24rem;
} 

/* 右侧柱状图区域 */ 
.zl-content-info-right-bottom {
	position: absolute;
	left: 0;
	top: 4.4rem;
	width: 9.6rem;
	height: 2.8rem;
}