.zl-content-label {
	float: left;
	margin-left: 0.3rem;
	margin-top: 0.4rem;
	width: 1.3rem;
	font-size: 0.24rem;
	line-height: 0.34rem;
	color: #828282;
	white-space: nowrap;
	text-align: right;
}
/* 选择框自定义 */
.zl-content-select {
	float: left;
	margin-left: 0.3rem;
	margin-top: 0.4rem;
	width: 2.88rem;
}
.zl-content-select.zl-select {
	width: 2.88rem;
}
.zl-content-select.zl-select .zl-select-bg-center {
	width: 2.4rem;
}
.zl-content-select.zl-select select {
	width: 3.2rem;
}

/* 输入框自定义 */
.zl-content-select.zl-text .zl-text-bg-center,.zl-content-select.zl-text input {
	width: 1rem;
}
.zl-content-select.zl-text .zl-button {
	position: absolute;
	top: 0;
	left: 1.44rem;
}

/* 入库单号显示 */
.zl-content-top-info-search .zl-content-label {
	margin-left: 0;
}
.zl-content-top-info-search .zl-content-select {
	float: left;
	margin-left: 0.3rem;
	margin-top: 0.4rem;
	width: 2.4rem;
}
.zl-content-top-info-search .zl-content-select .zl-text-bg-center,.zl-content-top-info-search .zl-content-select input {
	width: 2.04rem;
}

/* 入库按钮 */
.zl-content-btn {
	top: 1.14rem;
}


.div-dialog {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -2.1rem 0 0 -3.5rem;
	width: 7rem;
	height: 4.2rem;
	border: solid 1px #ccc;
	border-radius: 0.08rem;
	background-color: #eee;
	box-shadow: 0.05rem 0.04rem 0.05rem 0 #999;
	color: #5a5a5a;
	z-index: 30;
	display: none;
}

.result-title {
	float: left;
	clear: left;
	font-size: 0.24rem;
	line-height: 0.4rem;
	width: 30%;
	height: 0.4rem;
	text-align: right;
}
.result-content {
	float: left;
	clear: right;
	font-size: 0.20rem;
	line-height: 0.4rem;
	width: 70%;
	height: 0.4rem;
	text-align: left;
	text-indent: 1em;
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
}

/* 弹出框选择栏 */
.result-content .zl-select {
	width: 4rem;
}
.result-content .zl-select .zl-select-bg-center {
	width: 3.52rem;
}
.result-content .zl-select select {
	width: 4.2rem;
}
/* 弹出框输入栏 */
.result-content .zl-text {
	width: 4rem;
}
.result-content .zl-text .zl-text-bg-center,.result-content .zl-text input {
	width: 3.64rem;
}

.div-dialog .zl-button {
	float: left;
	margin-left: 0.5rem;
	margin-top: 2rem;
}