.zl-content-label {
	float: left;
	margin-left: 0.5rem;
	margin-top: 0.4rem;
	width: 1.3rem;
	font-size: 0.24rem;
	line-height: 0.34rem;
	color: #828282;
	white-space: nowrap;
	text-align: right;
}
/* 选择框自定义 */
.zl-content-select {
	float: left;
	margin-left: 0.3rem;
	margin-top: 0.4rem;
}

.table-p {
	overflow-x: auto;
	overflow-y: hidden;
}