/* 文本位置 */ 
.zl-content-label {
	float: left;
	margin-left: 0.3rem;
	margin-top: 0.4rem;
	width: 0.75rem;
	font-size: 0.18rem;
	line-height: 0.18rem;
	color: #828282;
	white-space: nowrap;
	text-align: right;
} 
/* 时间选择框位置 */ 
.zl-content-select {
	float: left;
	margin-left: 0.2rem;
	margin-top: 0.32rem;
} 
/* 下拉框位置 */ 
.zl-select-lt {
	float: left;
	margin-left: 0.3rem;
	margin-top: 0.32rem;
} 
/* 表头 */ 
.content-info-tubiao {
	font-size: 0.18rem;
}

.table-title {
	position: absolute;
	left: 0;
	top: 0;
	width: 19.2rem;
	font-size: 100%;
	z-index: 1;
} 
/*表格内容*/ 
.table-body {
	position: absolute;
	left: 0;
	top: 0.4rem;
	width: 19.2rem;
	height: 6.78rem;
	font-size: 100%;
	overflow: auto;
	z-index: 0;
}

.table-body .ui-widget {
	font-size: 100%;
	border-bottom: solid 1px rgba(67, 147, 141, 0.25);
}