@charset "utf-8";

.rf-dt {
	border: none;
}

.rf-dt-shdr-c {
	border: none;
}

.rf-dt-c {
	color: #333333;
	border: none;
}

.rf-ds {
	margin: 0px;
	height: 27px;
	padding: 0px;
	padding-top: 0px;
	background: transparent;
	-webkit-text-size-adjust:none;/*解决谷歌浏览器影响字体设定*/
	position: absolute;
	bottom: 0;
}

/*按钮样式重写*/
.rf-ds-btn {
	width: 33px;
	margin: 0px;
	height: 27px;
	padding: 0px;
	border: 0px;
	font-size:9px;
	text-align: center;
	line-height: 27px;
}

.rf-ds-btn-first {
	width: 33px;
	height: 27px;
	background: url(../img/common_info_img/common_table_number_bg.png) no-repeat top;
}

.rf-ds-btn-first:hover {
	background: url(../img/common_info_img/common_table_number_bg_hover.png) no-repeat top;
}

.rf-ds-btn-fastrwd {
	width: 33px;
	height: 27px;
	background: url(../img/common_info_img/common_table_number_bg.png) no-repeat top;
}

.rf-ds-btn-fastrwd:hover {
	background: url(../img/common_info_img/common_table_number_bg_hover.png) no-repeat top;
}

.rf-ds-btn-prev {
	width: 33px;
	height: 27px;
	background: url(../img/common_info_img/common_table_number_bg.png) no-repeat top;
}

.rf-ds-btn-prev:hover {
	background: url(../img/common_info_img/common_table_number_bg_hover.png) no-repeat top;
}

.rf-ds-btn-next {
	width: 33px;
	height: 27px;
	background: url(../img/common_info_img/common_table_number_bg.png) no-repeat top;
}

.rf-ds-btn-next:hover {
	background: url(../img/common_info_img/common_table_number_bg_hover.png) no-repeat top;
}

.rf-ds-btn-fastfwd {
	width: 33px;
	height: 27px;
	background: url(../img/common_info_img/common_table_number_bg.png) no-repeat top;
}

.rf-ds-btn-fastfwd:hover {
	background: url(../img/common_info_img/common_table_number_bg_hover.png) no-repeat top;
}

.rf-ds-btn-last {
	width: 33px;
	height: 27px;
	background: url(../img/common_info_img/common_table_number_bg.png) no-repeat top;
}

.rf-ds-btn-last:hover {
	background: url(../img/common_info_img/common_table_number_bg_hover.png) no-repeat top;
}

.rf-ds-dis {
	background: url(../img/common_info_img/common_table_number_bg.png) no-repeat top;
}

.rf-ds-dis:hover {
	background: url(../img/common_info_img/common_table_number_bg_hover.png) no-repeat top;
}

/*数字按钮样式重写*/
.rf-ds-nmb-btn {
	font-size:9px;
	width: 33px;
	height: 27px;
	padding: 0px;
	margin: 0px;
	border: 0px;
	background: url(../img/common_info_img/common_table_number_bg.png) no-repeat top;
	line-height: 27px;
}

.rf-ds-act {
	color: #FFFFFF;
	border: 0px;
	background: url(../img/common_info_img/common_table_number_bg_hover.png) no-repeat top;
}

.rf-ds-nmb-btn:hover {
	color: #FFFFFF;
	border: 0px;
	background: url(../img/common_info_img/common_table_number_bg_hover.png) no-repeat top;
}