/* 文本位置 */
.zl-content-label {
	float: left;
	margin-left:60px;
	margin-top: 70px;
	width: 75px;
	font-size: 18px;
	line-height: 18px;
	color: #828282;
	white-space: nowrap;
	text-align: right;
}
/* 时间选择框位置 */
.zl-content-select {
	float: left;
	margin-left: 30px;
	margin-top: 62px;
}
/* 下拉框位置 */
.zl-select-lt{
	float: left;
	margin-left: 60px;
	margin-top: 62px;
}
.content-info-tbwh{
	height: 550px;
	width: 1460px;
	position: absolute;
	top: 50px;
	left: 230px;
}
/* 表格大小 */
.content-info-tab-area>.tab-table{
	width: 1920px;height: 683px;
}

.tab-table>tbody{
	width: 1920px;height: 683px;
}

/* td样式 */
.tab-table-td1{
	background-color: white;
	vertical-align: middle;
	padding-left: 1%;
	white-space: nowrap;
	color: #828282;
	border-right:1px solid rgba(104,153,118,0.5);
}
.tab-table-td2{
	color: #828282;
	background-color:rgba(131,183,148,0.1);
	padding-left: 1%;
	vertical-align: middle;
	white-space: nowrap;
	border-right:1px solid rgba(104,153,118,0.5);
}

