/* 文字位置及 */ 
.zl-content-label {
	float: left;
	margin-left: 0.6rem;
	margin-top: 0.35rem;
	width: 0.75rem;
	font-size: 0.18rem;
	line-height: 0.18rem;
	color: #828282;
	white-space: nowrap;
	text-align: right;
} 
/* 时间框位置 */ 
.zl-content-select {
	float: left;
	margin-left: 0.3rem;
	margin-top: 0.27rem;
} 
/* 下拉框位置 */ 
.zl-select-lt {
	float: left;
	margin-left: 0.6rem;
	margin-top: 0.27rem;
}

.tab-hig-bar {
	width: 19.2rem;
	height: 6.83rem;
	left: 0;
	top: 0;
}

.tab-table {
	width: 19.2rem;
} 

