/* 文字位置及 */
.zl-content-label {
	float: left;
	margin-left: 60px;
	margin-top: 35px;
	width: 75px;
	font-size: 18px;
	line-height: 18px;
	color: #828282;
	white-space: nowrap;
	text-align: right;
}
/* 时间框位置 */
.zl-content-select {
	float: left;
	margin-left: 30px;
	margin-top: 27px;
}
/* 下拉框位置 */
.zl-select-lt{
	float: left;
	margin-left: 60px;
	margin-top: 27px;
}
.zl-select-lt1{
	float: left;
	margin-left: 80px;
	margin-top: 27px;
}
.tab-hig{
	width: 1920px;
	left: 0px;
	top: 0px;
}
.tab-hig-bar{
	height: 550px;
	width: 1460px;
	position: absolute;
	top: 50px;
	left: 230px;
}
.show
{
	position: relative;
	width: 1920px;; 
	height: 100%; 
}
.charwhtl{
	position: absolute;
	width: 1920px;
	height: 680px;
	top: 0px;
	left: 0px;
}
.charwhtl2{
	position: absolute;
	width: 1920px;
	height: 680px;
	top: 0px;
	left: 0px;
	line-height: 680px;
	text-align: center;
	vertical-align: middle;
	color:rgb(150,150,150);
	font-size: 24px;
	z-index: 3;
	background-color: white;
}

.prev{
	position: absolute; 
	left: 30px; 
	top: 270px;
	font-size:20px; 
	cursor: pointer; 
	z-index: 2;
	color: green;
	height: 26px;
	width:150px;
}
.next
{
	position: absolute; 
	right: 20px; 
	top: 270px; 
	font-size:20px;
	cursor: pointer;
	z-index: 2;
	color: green; 
	height: 24px;
	line-height: 24px;
}
.bottom-qy{
	position: absolute;
	width:1400px;
	height: 90px;
	left: 320px;
	bottom:50px;
	font-size: 14px;
	color: #333333;
	z-index: 10;
}
.bq-ys-wh{
	width: 50px;float:left;margin-left: 20px;height: 20px;margin-top: 20px;
}
.bq-ys1{
	background-color:rgba(0,129,206,0.4);
}
.bq-ys2{
	background-color:rgba(108,204,71,1);
}
.bq-ys3{
	background-color:rgba(244,221,12,1);	
}
.bq-ys4{
	background-color:rgba(160,160,160,1);
}
.bq-ys5{
	background-color:rgba(0,129,206,1);
}
.bq-ys6{
	background-color:rgba(251,117,0,1);
}
.bq-ys7{
	background-color:rgba(108,204,71,0.4);
}
.bq-ys8{
	background-color:rgba(244,221,12,0.4);
}
.bq-ys9{
	background-color:rgba(251,117,0,0.4);
}
.bq-ys10{
	background-color:rgba(0,129,206,0.6);
}
.bq-ys11{
	background-color:rgba(108,204,71,0.6);
}

.bq-font-wh{
	width:120px;float:left;cursor: pointer;height: 20px;margin-left: 20px;margin-top: 20px;
}
.bq-font-wh2{
	width:200px;float:left;cursor: pointer;height: 20px;margin-left: 20px;margin-top: 20px;
}
.bq-font-wh16{
	width:160px;float:left;cursor: pointer;height: 20px;margin-left: 20px;margin-top: 20px;
}
.bq-font-wh18{
	width:180px;float:left;cursor: pointer;height: 20px;margin-left: 20px;margin-top: 20px;
}
