/* 閺傚洤鐡ф担宥囩枂閸欙拷*/
.zl-content-label {
	float: left;
	margin-left: 60px;
	margin-top: 35px;
	width: 75px;
	font-size: 18px;
	line-height: 18px;
	color: #828282;
	white-space: nowrap;
	text-align: right;
}
/* 閺冨爼妫垮鍡曠秴缂冿拷*/
.zl-content-select {
	float: left;
	margin-left: 30px;
	margin-top: 27px;
}
/* 娑撳濯哄鍡曠秴缂冿拷*/
.zl-select-lt{
	float: left;
	margin-left: 60px;
	margin-top: 27px;
}
.tab-table{
	width: 1920px;
}

.tab-hig-bar{
	width: 1920px;
	height: 619px;
	left: 0px;
	top: 0px;
}

