/* 文字位置及 */
.zl-content-label {
	float: left;
	margin-left: 60px;
	margin-top: 35px;
	width: 75px;
	font-size: 18px;
	line-height: 18px;
	color: #828282;
	white-space: nowrap;
	text-align: right;
}
/* 时间框位置 */
.zl-content-select {
	float: left;
	margin-left: 30px;
	margin-top: 27px;
}
/* 下拉框位置 */
.zl-select-lt{
	float: left;
	margin-left: 60px;
	margin-top: 27px;
}
.tab-hig-bar{
	height: 550px;
	width: 1460px;
	position: absolute;
	top: 50px;
	left: 230px;
}
